# Python
__pycache__/
*.py[cod]
*$py.class

# Database
# *.db
# *.sqlite
polymarket.db

# SVN
.svn/

# Trae
.trae/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# SSH
id_rsa
id_rsa.pub
